@font-face {
  font-family: 'Practice-Bold';
  src: url('../fonts/Practice-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Practice-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Practice-Regular';
  src: url('../fonts/Practice-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Practice-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}
